<!DOCTYPE html>
<html>
<head>
  <title>Impromp2</title>
  <!-- TEMPLATES -->
  <script type="text/template" id="edit-user-template">
    <form method="/users" action="POST">
      <img src='{{image_url}}'>
      <input name="first_name"/>
      <input name="last_name"/>
      <input name="zipcode"/>
      <input name="email"/>
      <button>Save</button>
    </form>
  </script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %>
<nav>
  <a href="/"><img src="#" alt="logo"></a>
  <a href="/events"><img src="/imgs/calendar.svg">Events</a>
  <a href="/events/new"><img src="/imgs/add-event.svg">Create Event</a>
  <form>
    <img src="/imgs/search.svg">
    <input placeholder="Search"/>
  </form>
  <div id="nav-right">
    <div id="drop-down">
      <img src="/imgs/settings.svg"><%= current_user.email %></a>
      <div id="nav-right-dropdown">
        <a href="/users/edit">Settings</a>
        <a href="/users/sign_out" class="navbar-link" rel="nofollow" data-method="delete">Log Out</a>
      </div>
    </div>
  <div>
</nav>

  <!--Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> -->
<% else %>
  <div class="container">

<video autoplay loop poster="/app/assets/images/campfire.png" id="bgvid">
<source src="http://ak6.picdn.net/shutterstock/videos/4500722/preview/stock-footage-young-people-socialising-together-and-having-fun-student-house-accommodation-flat-share-with.mp4" type="video/mp4">
</video>

  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>

<%= yield %>

</div>
</body>
</html>
