<!DOCTYPE html>
<html>
<head>
  <title>Impromp2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <a href="/"><img src="#" alt="logo"></a>
  <a href="/events"><img src="/public/calendar.svg">Events</a>
  <a href="/events/new"><img src="/public/add-event.svg">Create Event</a>
  <form>
    <img src="/public/search.svg">
    <input placeholder="Search"/>
  </form>
  <a href="users/settings"><img src="/public/settings.svg">Settings</a>
  <a href="users/logout"><img src="/public/logout.svg">Log Out</a>
</nav>

<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>

<%= yield %>

</body>
</html>
